.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button_size{
  width: 253px;
  height: 56px;
  padding: 16px 40px;
}

a{
  color: #4C4CFF !important;
}