.link {
  text-decoration: none;
  color: #8585ad !important;
  cursor: pointer;
}

.content {
  width: 320px;
}

.isActive {
  color: #f2f2f3 !important;
}

.footer {
  color: #8585ad;
  opacity: 0.4;
}
