.constructor_container {
    max-height: 520px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-top: 20px;
  }

  .constructor_container > div {
    scroll-snap-align: start;
  }

  .drop_zone{
    height: 696px ;
    width: 600px;
  }