.header {
  background-color: #1c1c21;
  height: 88px;
  padding-top: 26px;
}

.text_white {
  color: white;
}

.content {
  width: 1236px;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 15px;
}
